extends content_layout

//-    title: string;
    index: string;
    videoDomain: string;
    videoUrl: string;
    director: string;
    starnames: {};
    genres: string[];
    studio: string;
    duration: number;
    imgSummaryUrl: string;
    favorite: number;
    rating: number;
    view: number;
    _id: string;
    releaseDate: string;
block content
    div(id="content-page-wrapper")
        div(id="main-content")
            iframe(src=content_.videoUrl  frameBorder="0")
            
            div(id="main-content-info")
                div(id="main-content-image")
                    img(src=content_.imgSummaryUrl)
                div(id="main-content-text")
                    p(class="tag")
                        ='index: ' + content_.index
                    p(class="director")
                        ='director: ' + content_.director
                    p(class="studio")
                        ='studio: ' + content_.studio
                    p(class="duration")
                        ='duration: ' + content_.duration
                    p(class="releaseDate")
                        ='releaseDate: ' + content_.releaseDate
                    p(class="view")
                        ='view: ' + content_.view
                    p(class="rating")
                        ='rating: ' + content_.rating
                    p(class="favorite")
                        ='favorite: ' + content_.favorite
           
        div(class="recommend-contents-wrapper")
            each rcontent_ in recommendContents
                div(class="content-board")
                    img(src=rcontent_.imgSummaryUrl)
                    div(class="content-info")
                        a(href='/content/'+rcontent_._id title=rcontent_.title)
                            h4
                                = rcontent_.title
                        p(class="text tag")
                            ='index: ' + rcontent_.index
                        p(class="text director")
                            ='director: ' + rcontent_.director
                        p(class="text studio")
                            ='studio: ' + rcontent_.studio
                        p(class="text duration")
                            ='duration: ' + rcontent_.duration
                        p(class="text releaseDate")
                            ='releaseDate: ' + rcontent_.releaseDate
                        p(class="text view")
                            ='view: ' + rcontent_.view
                        p(class="text rating")
                            ='rating: ' + rcontent_.rating
                        p(class="text favorite")
                            ='favorite: ' + rcontent_.favorite