extends layout

//-    title: string;
    index: string;
    videoDomain: string;
    videoUrl: string;
    director: string;
    starnames: {};
    genres: string[];
    studio: string;
    duration: number;
    imgSummaryUrl: string;
    favorite: number;
    rating: number;
    view: number;
    _id: string;
    releaseDate: string;
block content
    div(class="contents-wrapper")
        each content_ in contents
            div(class="content-board")
                img(src=content_.imgSummaryUrl)
                div(class="content-info")
                    a(href='/content/'+content_._id title=content_.title)
                        h4
                            = content_.title
                    p(class="text tag")
                        ='index: ' + content_.index
                    p(class="text director")
                        ='director: ' + content_.director
                    p(class="text studio")
                        ='studio: ' + content_.studio
                    p(class="text duration")
                        ='duration: ' + content_.duration
                    p(class="text releaseDate")
                        ='releaseDate: ' + content_.releaseDate
                    p(class="text view")
                        ='view: ' + content_.view
                    p(class="text rating")
                        ='rating: ' + content_.rating
                    p(class="text favorite")
                        ='favorite: ' + content_.favorite
    div(class="pagination")
        div(class="pagination-btn noselect")
            a(href=lastpage) Previous
        div(class="pagination-btn noselect")
            a(href=nextpage) Next
                    